<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 

    <!-- 配置bean -->

    <bean id="helloworld" class="com.lora.model.HelloWorld">

        <property name="name" value="Spring"></property>

    </bean>
    
    <bean id="person" class="com.lora.testspring.Person">
        <property name="name" value="xingoo"/>
        <property name="age" value="12"/>
    </bean>

</beans>